<!DOCTYPE html>
<html>

<head>
    <title>Cartelera de películas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #a9ccf1;
            padding: 10px;
        }

        .user-info {
            margin-left: 20px;
            font-size: 14px;
        }

        .search-bar-container {
            background-color: #a9ccf1;
            padding: 10px;
        }

        .search-bar {
            width: 100%;
            text-align: right;
        }

        .search-bar input[type="text"] {
            padding: 10px;
            width: 300px;
            border-radius: 50px;
            border: 1px solid #ccc;
            font-size: 16px;
            outline: none;
        }

        .search-bar button[type="submit"] {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .search-bar button[type="submit"]:hover {
            background-color: #0056b3;
        }

        .add-button {
            text-align: center;
            margin-top: 20px;
        }

        .add-button a {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #28a745;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .add-button a:hover {
            background-color: #218838;
        }

        .delete-button {
            text-align: center;
            margin-top: 20px;
        }

        .delete-button button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: #dc3545;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .delete-button button:hover {
            background-color: #c82333;
        }

        .pelicula {
            display: flex;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin: 20px;
            padding: 20px;
        }

        .pelicula-info {
            flex: 1;
            padding-right: 20px;
        }

        .pelicula-imagen {
            width: 200px;
            height: auto;
        }

        .delete-button-container {
            margin-left: auto;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="user-info">
            <% if (currentUser) { %>
                Bienvenido, <%= currentUser.username %>
            <% } else { %>
                Invitado
            <% } %>
        </div>
        <div class="search-bar">
            <form action="/secret" method="GET">
                <input type="text" name="q" placeholder="Buscar películas por título">
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>

    <div class="add-button">
        <a href="/agregar_peli">Agregar Película</a>
    </div>

    <h1 style="text-align: center;">Cartelera de películas</h1>
    <% peliculas.forEach(function(pelicula) { %>
        <div class="pelicula">
            <div class="pelicula-info">
                <h2>
                    <%= pelicula.nombre %> (<%= pelicula.año %>)
                </h2>
                <p><strong>Director:</strong>
                    <%= pelicula.director %>
                </p>
                <p><strong>Actores:</strong>
                    <%= pelicula.actores %>
                </p>
                <p><strong>Descripción:</strong>
                    <%= pelicula.descripción %>
                </p>

                <form action="/borrar_pelicula" method="POST">
                    <div class="delete-button-container">
                        <form action="/borrar_pelicula" method="POST"
                            onsubmit="return confirm('¿Estás seguro de que quieres borrar esta película?');">
                            <input type="hidden" name="peliculaId" value="<%= pelicula._id %>">
                            <button type="submit"
                                style="padding: 8px 16px; border: none; border-radius: 5px; background-color: #dc3545; color: #fff; font-size: 14px; cursor: pointer; transition: background-color 0.3s;">Borrar</button>
                        </form>
                    </div>
                </form>

            </div>
            <img src="<%= pelicula.img %>" alt="<%= pelicula.nombre %>" class="pelicula-imagen">
        </div>
        <% }); %>
</body>

</html>